/**
 * Almost copied from hexo-theme-next.
 */

@media (max-width: 767px) {
  .posts-collapse {
    margin: 0 20px;
  }
  .posts-collapse .post-title,
  .posts-collapse .post-meta {
    display: block;
    width: auto;
    text-align: left;
  }
}
.posts-collapse {
  position: relative;
  z-index: 1010;
  margin-left: 50px;
  margin-right: 40px;
  padding-bottom: 30px;
}
.posts-collapse::after {
  content: " ";
  position: absolute;
  top: 20px;
  left: 0;
  margin-left: -2px;
  width: 4px;
  height: 100%;
  background: #f5f5f5;
  z-index: -1;
}
@media (max-width: 767px) {
  .posts-collapse {
    margin: 0 20px;
  }
}
.posts-collapse .collection-title {
  position: relative;
  margin: 60px 0;
}
.posts-collapse .collection-title:first-child {
  position: relative;
  margin: 30px 60px 0 0;
}
.posts-collapse .collection-title h2 {
  margin-left: 20px;
}
.posts-collapse .collection-title small {
  color: #bbb;
}
.posts-collapse .collection-title::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 50%;
  margin-left: -4px;
  margin-top: -4px;
  width: 8px;
  height: 8px;
  background: #bbb;
  border-radius: 50%;
}
.posts-collapse .post {
  margin: 30px 0;
}
.posts-collapse .post-header {
  position: relative;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition-property: border;
  border-bottom: 1px dashed #ccc;
}
.posts-collapse .post-header::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 12px;
  width: 6px;
  height: 6px;
  margin-left: -4px;
  background: #bbb;
  border-radius: 50%;
  border: 1px solid #fff;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition-property: background;
}
.posts-collapse .post-header:hover {
  border-bottom-color: #666;
}
.posts-collapse .post-header:hover::before {
  background: #222;
}
.posts-collapse .post-meta {
  position: absolute;
  font-size: 12px;
  left: 20px;
  top: 5px;
  padding: 0;
}
.posts-collapse .post-comments-count {
  display: none;
}
.posts-collapse .post-title {
  margin-left: 60px;
  font-size: 16px;
  font-weight: normal;
  line-height: inherit;
  padding: 0;
  border: 0;
}
.posts-collapse .post-title::after {
  margin-left: 3px;
  opacity: 0.6;
}
.posts-collapse .post-title a {
  color: #666;
  border-bottom: none;
}

.page-archive .hentry,
.page-category .hentry,
.page-tag .hentry {
  overflow: hidden;
}
